/*base style*/
body {
	margin: 0;
	padding: 0;
}

.ui-page {
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	font-size: 0;
}

p {
	margin: 0;
}

div {
	box-sizing: border-box;
	text-shadow: none;
}

.maskDiv {
	background: rgba(0,0,0,.3);
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}



.citySelect {
	position: fixed;
	width: 100%;
	height: 300px;
	background: #fff;
	left: 0;
	bottom: 0;
	z-index: 99;
	text-align: center;
}

.citySelect  ul li {
	height: 40px;
	line-height: 40px;
	font-size: .8em;
	color: #999;
}

.citySelect  ul li.selected {
	font-size: 1.2em;
	font-weight: bold;
	color: #333;
	border-top:1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.citySelect .leftSelectionDiv {
	width: 50%;
	height: 280px;
	float: left;
	position: relative;
}
.citySelect .selectDiv {
	width: 100%;
	height: 280px;
	float: left;
	position: relative;
}
.citySelect .selectDiv .selectBG {
	height: 40px;
	width: 100%;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -20px;
}

.citySelect .rightSelectionDiv {
    float: right;
    height: 280px;
    position: relative;
    width: 50%;
}

.citySelect .leftSelectionDiv .selectBG {
	height: 40px;
	width: 100%;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -20px;
}

.citySelect .rightSelectionDiv .selectBG {
	height: 40px;
	width: 100%;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -20px;
}