body{background-color:#f5f5f5;}

/* news_detail.html */
.img-fullscreen{max-height:420px;}
#news h4{margin:20px 0 0;}
.hr{height:5px;background-color:#fff;border-width:1px 0 1px 0;border-style:solid;border-color:#e6e6e6;}
.fav-num{margin-top:3px;padding:0 0 0 20px;;color:#808080;
     background-image: url(../img/btn_like.png);
     background-position: 0 2px;
     background-repeat: no-repeat;
     background-size:auto 75%;
 }
.source{margin-top:3px;padding:0 5px 0 0px;;color:#808080; }

.text-indent{text-indent:2em;}

/* building_detail.html */
#building{margin-bottom:45px;}
#building h4{margin:5px 0 5px;;}
.top-right{ position:absolute;font-size:10px;font-weight:normal;top:7px;margin-left:5px;}
.border-bottom-dash{border-bottom:1px dashed #6e6e6e;}
.border-right-dash{border-right:1px dashed #6e6e6e;}
#building .badge{padding:3px 5px;border-radius:5px;}
.pos-left-center{position:absolute;top:30%;}
.hui{word-break:break-all; line-height:16px;margin-top:5px;}
.label-gray{background-color:#c1c1c1;}
.label-green{background-color:#2cb182;}
.nav > li > a:hover, .nav > li > a:focus{background-color:#fff;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{background-color:#fff;border:0 none;}
.table{margin-bottom:0;}
#building hr{margin-top:10px;margin-bottom:10px;}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{padding:0;border:0 none;}
.location{
    padding-left:20px;
    background-image:url(../img/icon_map.png);
    background-repeat:no-repeat;
    background-position:0 center;
    background-size:auto 100%;
}
.nav-bottom-fixed{position:fixed;bottom:0;left:0;background-color:#e8e8e8;border-top:1px solid #e7e7e7;padding:10px 30px;width:100%;text-align:center;}
.nav-bottom-fixed .btn{width:100%;}
 a{color:#333;}

.thumbnail > div > img{
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.thumb-text{position: absolute;bottom: 0;background: #000;opacity: 0.8;color: #fff;font-size: 12px;line-height: 18px;width: 100%;padding:0 2px;}

/* myscore.html */
.bg-circle{
    background-color:#fff;
    text-align:center;
    padding:15px 0;
    border-radius:50%;
    line-height:14px;
    width:60px;
    z-index:9;
  
}
.myscore{
    position:relative;
}
.myscore .col-xs-4{
    padding-right: 0;
}
.myscore .col-xs-8{
    padding-left: 0;
}
.z2{z-index:2;}
.myscore .line{
    z-index:1;
    position:absolute;
    left:45px;
    width:1px;
    background-color:#ddd;
    height:150%;
    top:0;
}
.img_line_one{
    position: absolute;
    left: -28%;
    top: 45%;
    height:10px;
    width: 30%;
    z-index: 1;
}

.img_line_multi{
    position: absolute;
    left: -28%;
    top: 0;
    height:100%;
    width: 30%;
    z-index: 1;
}
.img_line_multi.first{
   
    top:40%;
}
.img_line_multi.last{
  
    top:-40%;
}

.score_num{
    font-size: 20px;
    line-height: 24px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    position: relative;
    margin-top: 15px;
}
.score_num:first-child{margin-top: 0;}
.myscore:last-child .line{height:0;}

/* score.html */
.earn-score{
    margin:15px 0 0;
    padding:12px 1px 10px 30px;
    background-color:#fff;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: auto 50%;
}
.earn-score .ctit, .earn-score .cgreen{color:#ccc;}
.earn-score.active .ctit{color:#333;} 
.earn-score.active .cgreen{color:#2cb182;}
.score-over{
    padding:0;
    text-align:center;
    font-size:18px;
    line-height:40px;
    color:#ccc;
}
.score-login{
    background-image: url(../img/icon_qiandao.png);
}
.score-qrcode{
    background-image: url(../img/icon_saomiao_1.png);
}
.score-qrcode.active{
    background-image: url(../img/icon_saomiao_2.png);
}
.score-huodong{
    background-image: url(../img/icon_huodong_1.png);
}
.score-huodong.active{
    background-image: url(../img/icon_huodong_2.png);
}
.score-ziyuan{
    background-image: url(../img/icon_ziyuan_1.png);
}
.score-ziyuan.active{
    background-image: url(../img/icon_ziyuan_2.png);
}
.underline{text-decoration:underline;}

/* customers.html */
.text-bg{font-size:16px;line-height:24px;}
.bg-border{background-color:#fff;padding:12px 10px 5px;border:1px solid #e5e5d5;color:#363636;position:relative;margin-bottom:12px;}
.bg-border hr{margin:10px -10px 5px;}
.customer-menu{text-align:center;}
.customer-menu.nav > li > a{padding:0;}
.customer-menu li{ border:0 none;margin:15px 0;;background-color:transparent;padding:0;}
 .customer-menu.nav-pills > li.active > a, .customer-menu.nav-pills > li.active > a:hover, .customer-menu.nav-pills > li.active > a:focus{
    background-image:url(../img/bg_tab.png) ;
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    -webkit-background-size:100% 100%;
 }


 .customer-menu .list-group-item.active,
 .customer-menu .list-group-item.active:hover,
 .customer-menu .list-group-item.active:focus{background-color:#2cb182;}

 /* customer_info.html **/
 .text-666{color:#666;}
 .text-333{color:#333;}
 .lh-mid{line-height:16px;}
 .customer-right{
     padding:5px;
     text-align:right;
     color:#fff;
     background-image: url(../img/account_right_bg.png);
     background-repeat: no-repeat;
     background-size:100% 100%;
 }
 .customer-right .important-on{
    background-image: url(../img/account_ico_important_on.png);
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size:auto 100%;
 }
 .customer-right .right-ok{
    background-image: url(../img/account_ico_ok.png);
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size:auto 100%;
 }
 .bg-white{background-color:#fff;}
 .date{margin-top:3px;padding:0 15px 0 20px;;color:#808080;
     background-image: url(../img/account_list_date.png);
     background-position: 0 center;
     background-repeat: no-repeat;
     background-size:auto 75%;
 }

.stat-wraper{
    padding:10px 0;
    border-bottom:1px solid #ececec;
}
.cust-stat{
    position:relative;
    z-index:1;
}

.cust-stat li{
    position:relative;
}
/*.cust-stat li:first-child{
    background-image: url(../img/account_timeline_greenpoint.png);
}*/

.cust-stat .row{z-index:9;position:relative;}

.cust-stat .line{
    z-index:1;
    position:absolute;
    left:25px;
    width:1px;
    background-color:#ddd;
    height:120%;
    top:0;
}
.cust-stat li:last-child .line{height:20%;}
.cust-stat li:first-child .line{top:48%;}

.cust-stat .point{
    z-index:2;
    position:absolute;
    left:16px;
    width:20px;height: 20px;
    top:20%;
    padding: 0;
    background-color: #fff;
    background-image: url(../img/account_timeline_graypoint.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size:auto 100%;
}
.cust-stat .point.active{
    background-image: url(../img/account_timeline_greenpoint.png);
    padding: 2px 0;
    margin: -2px 0 0;
    background-position: 1px 2px;
    background-size:auto 80%;
}

/* tuijian.html **/
.tuijian{margin-top:15px;}
.tuijian .input-group{border-width:2px;border-style:solid; border-color:#f38d1f;border-radius:20px;margin-top:15px;}
.tuijian .img-input{max-height:35px;margin:0 15px 0 0;display:inline-block;}
.tuijian .img-input1{max-height:25px;margin:0 8px;display:inline-block;}
.tuijian .img-input2{max-height:15px;margin:0 12px;display:inline-block;}
.tuijian .input-group-addon{padding: 2px;background-color:#fff;border-radius:20px ;border:0 none;}
.tuijian .form-control{border:0 none;}

.tuijian .border{border:2px solid #607078; border-radius:15px;}

.tuijian .border-green{border-color:#2bb081;}
.text-orange{color:#f38d1f;}
.tuijian .wh{width:50%;max-width:130px;}
.date-input{-webkit-appearance: none; -moz-appearance: none;}
.w100{width:100%;}
#recommendDate{
    line-height:24px;
}

.want-city{
    color: #999;
}
.input-group-addon.text-left{text-align: left;}
.input-group-addon.text-right{text-align: right;}
.color-555{
    color: #555;
}
.want-city:active, .want-city:focus{
    color: #999;
    text-decoration: none;
}

.center-line{
   height: 1px;
   background-color: #ccc;
   z-index: 1; 
   top: 10px;
   text-align: center;
}
.center-line span{
   height: 24px;
   color: #ccc;
   z-index: 2; 
   top: -10px;
   position: relative;
   background-color: #fff;
}
.center-line.bg-body span{
    background-color: #f5f5f5;
}

/* setting.html */
.bg-arraw-right{}
.pos-right-middle{position:absolute;top:45%;right:15px;;font-size:20px;}
.pos-right-middle2{position:absolute;top:25%;right:15px;;font-size:20px;}
.bg-line{background-color:#fff;padding:10px 0;border-bottom:1px solid #e5e5d5;color:#363636;position:relative;}
.bg-line input{border: 0 none;}

.img-qrcode{width:85%;max-width:200px;margin:0 auto;}
.img-line{height:22px;margin-right:10px;}
.img-line-mid{height:18px;margin:2px 8px 0 2px;vertical-align:top;}
.img-line-sm{height:12px;}
.btn-green, .btn-green:hover, .btn-green:active{background-color:#2cb182;color:#fff;box-shadow:inset 0 3px 5px rgba(44, 177, 130, .125);}


/*mine/index.html pages*/
.img-user{max-width:110px;width:80%;margin:20px 0 20px;}
.img-news{max-width:40px;}


.bg-user{
    background-image:url(../img/bg_myinfo.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
}

.bg-tabs{
    background-image:url(../img/bg_tabs.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    padding:12px 0;
}
.bg-tabs .thumbnail{background-color:transparent;border:0 none;margin-bottom:0;padding:0}
.bg-tabs .thumbnail .caption{padding:4px 0 0 0;}
.bg-tabs .thumbnail  img,.bg-money .thumbnail img{max-width:45px;}

.bg-space{height:12px;background:#f5f5f5;border-top:1px solid #e5e5d5;border-bottom:1px solid #e5e5d5;}
.bg-space-big{height:24px;background:#f5f5f5;border-top:1px solid #e5e5d5;border-bottom:1px solid #e5e5d5;}
.bg-space .active{height:12px; background:url(../img/money_contbg_arrow.png) no-repeat center 2px;}

.bg-total{background:#fff;padding:15px 15px 0;}
.bg-total .text-huge{padding:10px 0 15px;}

.bg-money{background-color:#f5f5f5;border-top:1px solid #e5e5d5;border-bottom:1px solid #e5e5d5;padding:10px 0;}
.bg-money .thumbnail{background-color:transparent;border:0 none;margin:0;padding:0 4px ;}
.bg-money .thumbnail .caption{padding:4px 4px 0 4px;}
.bg-money .border-right{border-right: 1px solid #ccc;}


.pos-name{position:absolute; top:20px; margin-left:5px;}
.pos-news{position:absolute; top:5px; margin-left:2px;}
.text-gray2{color:#607078;}
.text-gray-news{color:#646464;}

.bg-danger{background-color:#f1351c;}
.inline-line{max-width:40px;}
@media screen and(max-width:320px){
    .inline-line{max-width:0px;}
}

/* bootstrap */
.container-fluid{max-width:720px;}

/* base style */
.text-red{color:#EC5A24;}.text-yellow{color:#F6AB3B;}.text-green{color:#21B57E;}.text-gray{color:#ccc;}
.text-huge{font-size:36px;line-height:36px;padding:20px 0 15px;display:inline-block;}
.text-big{font-size:24px;line-height:24px;padding:10px 0 5px;display:}
.text-mid{font-size:20px;line-height:24px;padding:10px 0 5px;display:}

.p0{padding:0;}.pr0{padding-right:0;}.pl0{padding-left:0;}.pt0{padding-top:0;}.pb0{padding-bottom:0;}
.p5{padding:5px;}.pr5{padding-right:5px;}.pl5{padding-left:5px;}.pt5{padding-top:5px;}.pb5{padding-bottom:5px;}
.p10{padding:10px;}.pr10{padding-right:10px;}.pl10{padding-left:10px;}.pt10{padding-top:10px;}.pb10{padding-bottom:10px;}
.p15{padding:15px;}.pr15{padding-right:15px;}.pl15{padding-left:15px;}.pt15{padding-top:15px;}.pb15{padding-bottom:15px;}
.p20{padding:20px;}.pr20{padding-right:20px;}.pl20{padding-left:20px;}.pt20{padding-top:20px;}.pb20{padding-bottom:20px;}
.pt30{padding-top:30px;}
.m0{margin:0;}.mr0{margin-right:0;}.ml0{margin-left:0;}.mt0{margin-top:0;}.mb0{margin-bottom:0;}
.m5{margin:5px;}.mr5{margin-right:5px;}.ml5{margin-left:5px;}.mt5{margin-top:5px;}.mb5{margin-bottom:5px;}
.m10{margin:10px;}.mr10{margin-right:10px;}.ml10{margin-left:10px;}.mt10{margin-top:10px;}.mb10{margin-bottom:10px;}
.m15{margin:15px;}.mr15{margin-right:15px;}.ml15{margin-left:15px;}.mt15{margin-top:15px;}.mb15{margin-bottom:15px;}
.m20{margin:20px;}.mr20{margin-right:20px;}.ml20{margin-left:20px;}.mt20{margin-top:20px;}.mb20{margin-bottom:20px;}
.m25{margin:25px;}.mr25{margin-right:25px;}.ml25{margin-left:25px;}.mt25{margin-top:25px;}.mb25{margin-bottom:25px;}

.relative{position: relative;}
.fs24{font-size:24px;} .fs20{font-size:20px;}.fs18{font-size:18px;}.fs16{font-size:16px;}.fs12{font-size:12px;}.fs14{font-size:14px;}
.lh24{line-height:24px;} .lh28{line-height:28px;}.lh18{line-height:18px;}.lh16{line-height:16px;}.lh12{line-height:12px;}.lh14{line-height:14px;}

.noborder{border:0 none;}
.border-left{border-left: 1px solid #ccc;}
.border-right{border-right: 1px solid #ccc;}
.border-top{border-top: 1px solid #ccc;}
.border-bottom{border-bottom: 1px solid #ccc;}



